<%- include('header', {title:"핑크짐 커뮤니티",  cssFiles:["reset.css","header.css", "footer.css", "board.css"]})%>
    <div id="container">
        <div class="title">
            <h2><p>Board</p></h2>
        </div>
        <div class="board_wrap">
            <ul class="category">
                <li class="<%- (category === "free") ? 'on' : ''; %>"><a href="/board/free">자유게시판</a></li>
                <li class="<%- (category === "sell") ? 'on' : ''; %>"><a href="/board/sell">중고거래</a></li>
            </ul>
            <form class="posts_wrap" action="/dbseldel/<%- category %>" method="get">
                <% if (data.length > 0) { %>
                    <% data.forEach((post, idx) => { %>
                        <% if (post.category === category) { %>
                            <a href="/board/<%- category %>/detail/<%- post.post_num %>" class="post">
                                <div class="img_wrap">
                                <% if (post.attachfile.length > 0) { %>
                                    <img src="/upload/<%- post.attachfile[0] %>" >
                                <% } else { %>
                                    <img src="/img/thumbnail.png" class="thumbmail">
                                <% } %>
                                </div>
                                <h4 class="post_title"><%- post.post_title %> <span class="commentsIdx">［<%- post.comments.length %>］</span></h4>
                                <div class="info_wrap">
                                    <% if(login.role === "ADMIN"){%> 
                                        <input type="checkbox" name="delOk[]" class="delOk" value="<%- post.post_num %>">
                                    <%}%>
                                    <p class="post_date"><%- (Today == post.post_date.slice(0,10)) ? post.post_date.slice(11) : post.post_date.slice(0,10); %></p>
                                    <p class="post_author"><%- post.post_author %></p>
                                </div>
                            </a>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <p>검색한 조건에 맞는 게시글이 없습니다.</p>
                <% } %>
                <div class="write_btns">
                    <% if(login.role === "ADMIN"){%> 
                        <div class="left">
                            <input type="checkbox" id="selectToggle">
                            <label for="selectToggle">전체선택/해제</label>
                            <button type="submit" id="selectDelete">선택삭제</button>
                        </div>
                    <%}%>
                    <div class="right">
                        <a href="/board/<%- category %>/write">글쓰기</a>
                    </div>
                </div>
            </form>        
            <!-- 검색창 : 검색 기능을 위한 form 태그 -->
            <form id="searchForm" action="/search/<%- category %>" method="get">
                <!-- 어떤 항목으로 검색할 것인지 -->
                <div class="searchWrap">
                    <select name="search">
                        <option value="post_title" selected >제목</option>
                        <option value="post_author">작성자</option>
                        <option value="post_text">내용</option>
                        <option value="comments.comment_content">댓글 내용</option>
                        <option value="comments.comment_author">댓글 작성자</option>
                    </select>
                    <!-- 검색어 입력 데이터 -->
                    <input type="text" name="inputText" id="inputText" value="<%- text %>">
                    <button type="submit" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a href="/board/<%- category %>">전체글 보기</a>
                </div>
            </form>
            <nav class="paginationWrap">
                <ul class="pagination">
                    <!-- 이전 버튼 생성 작업 -->
                    <% if (blockStart > totalBlock) { %>
                    <li><a href="?page=<%- blockStart - 1 %>"><span class="material-symbols-outlined">chevron_left</span></a></li>
                    <% } %>
                    <% for(let i = blockStart; i <= blockEnd; i++) { %>
                        <% if (pageNumber == i) { %>
                            <!-- 현재 보고 있는 페이지 번호인 경우 활성화 -->
                            <li class="on"><a href="?page=<%- i %>"><%- i %></a></li>
                        <% } else { %>
                            <li><a href="?page=<%- i %>"><%- i %></a></li>
                        <% } %>
                    <% } %>
                    <% if (blockNum < totalBlock) { %>
                        <!-- 페이징블록 시작번호가 그룹의 총 갯수보다 크다면 -->
                        <li><a href="?page=<%- blockEnd + 1 %>"><span class="material-symbols-outlined">chevron_right</span></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
<%- include('footer', {jsFiles:["header.js", "swiper.js", "mGnb.js", "login.js", "search.js", "selectDel.js"]})%>