<%- include('header', {title:"Pink Ladies Gym",  cssFiles:["reset.css","header.css", "footer.css", "index.css"]})%>
    <div id="container">
        <div class="title">
            <h2>Board</h2>
        </div>
        <div class="board_wrap">
            <h3 class="board_category"><%- (posts[0].category== 'free' ? '자유게시판' : '벼룩시장') %></h3>
            <div class="board_wrap">
                <%- posts.forEach((post, idx)=>{
                    <div class="post">
                        <img src="<%-(post.img[0] !== '')? `/upload/${posts.img[0]}` : `/img/thumbnail.png`%>" >
                        <h4 class="postname"><%- post.postname %> <span class="commentsIdx">［<%- post.comment.length %>］</span></h4>
                        <p class="author"><%- post.author %></p>
                        <p class="date"><%- post.date %></p>
                    </div>
                })%>
            </div>
        </div>
    </div>
<%- include('footer', {jsFiles:["header.js", "swiper.js", "mGnb.js", "login.js"]})%>