<%- include('header', {title:"핑크짐 마이페이지",  cssFiles:["reset.css", "header.css", "footer.css", "mypage.css"]})%>
<div id="container">
    <div class="title">
        <h2><p>MyPage</p></h2>
    </div>
    <div class="trialinfo_wrap">
        <!--운영자만 확인 가능한 체험 신청 명단-->
        <% if(login) { %>
            <% if (login.role === "ADMIN") { %>
                <div class="trialWrap">
                    <h4>무료체험 신청 확인</h4>                    
                    <ul class="trial t_head">
                        <li class="trial_name">성함</li>
                        <li class="trial_phone">SMS</li>
                        <li class="trial_locate">체험 희망 지점</li>
                        <li class="trial_product">관심 프로그램</li>
                        <li class="trial_context">문의 사항</li>
                        <li class="trial_date">신청 일자</li>
                    </ul>
                    <div class="trials">
                        <% trials.forEach((trial) => { %>
                            <ul class="trial t_body">
                                <li class="trial_name"><%- trial.trial_name %></li>
                                <li class="trial_phone"><a href="sms:<%- trial.trial_phone %>"><i class="fa-regular fa-envelope"></i></a><%- trial.trial_phone %></li>
                                <li class="trial_locate"><%- trial.trial_locate %></li>
                                <li class="trial_product"><%- trial.trial_product %></li>
                                <li class="trial_context"><%- trial.trial_context %></li>
                                <li class="trial_date"><%- trial.trial_date %></li>
                            </ul>
                        <% }) %>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="memberinfoWrap">
        <h4>개인정보 수정/확인</h4>
        <form id="memberEdit" name="memberEdit" method="post" action="/memberEdit">
            <div class="info readonly">
                <div class="label">
                    <label for="userName">성함</label>
                </div>
                <div class="input">
                    <p id="userName" name="userName"><%- login.userName %></p>
                </div>
                <div class="label">
                    <label for="ID">아이디 확인</label>
                </div>
                <div class="input">
                    <p id="ID" name="userID"><%- login.userID %></p>
                </div>
                <div class="label"><label for="userBirth">생년월일</label>
                </div>
                <div class="input">
                    <p id="userBirth" name="userBirth"><%- (Number(login.userBirth.slice(0,2)) >= 23) ? '19' : '20'%><%- login.userBirth.slice(0,2) %>년 <%- login.userBirth.slice(3,5) %>월 <%- login.userBirth.slice(5,7) %>일</p>
                </div>
            </div>
            <div class="info">
                <div class="label">
                    <label for="prePW">기존 비밀번호</label>
                </div>
                <div class="input">
                    <input type="password" id="prePW" name="prePW" minlength="10" maxlength="16" placeholder="기존 비밀번호" required>
                    <button id="pw_toggle1" type="button">비밀번호 보기</button>
                </div>
                <div class="confirm">                 
                    <span>기존에 사용하던 비밀번호를 입력해주세요</span>
                </div>
            </div>
            <div class="info">
                <div class="label">
                    <label for="PW">비밀번호 수정</label>
                </div>
                <div class="input">
                    <input type="password" id="PW" name="userPW" minlength="10" maxlength="16" placeholder="변경할 비밀번호" required>
                    <button id="pw_toggle2" type="button">비밀번호 보기</button>
                </div>
                <div class="confirm">                 
                    <span>영문, 숫자, 특수기호(_ , -, !, *)를 혼용해서 10~16자 이내로 작성해주세요</span>
                </div>
            </div>
            <div class="info">
                <div class="label">
                    <label for="PW2">비밀번호 수정 확인</label>
                </div>
                <div class="input">
                    <input type="password" id="PW2" name="userPW2" minlength="10" placeholder="비밀번호 재입력" maxlength="16" required>
                    <button id="pw_toggle3" type="button">비밀번호 보기</button>
                </div>
                <div class="confirm">
                    
                    <span>위에서 입력하신 비밀번호와 똑같이 입력해주세요</span>
                </div>
            </div>
            <div class="info">
                <div class="label">
                    <label for="userPhone2">휴대폰번호</label>
                </div>
                <div class="input">
                    <input type="text" id="userPhone1" name="userPhone1" maxlength="3" readonly value="010" required >
                    <span>-</span>
                    <input type="text" id="userPhone2" name="userPhone2" maxlength="4" pattern="[0-9]{4}" value="<%- login.memberphone.slice(4,8) %>" required >
                    <span>-</span>
                    <input type="text" id="userPhone3" name="userPhone3" maxlength="4" pattern="[0-9]{4}" value="<%- login.memberphone.slice(9,13) %>" required >
                </div>
                <div class="confirm">
                    <span>변경하실 휴대폰 번호를 입력하세요.</span>
                </div>
            </div>
            <button id="memberEditBtn" type="submit">회원정보 수정하기</button>
        </form>
    </div>
    
</div>
<%- include('footer', {jsFiles:["header.js", "mGnb.js", "login.js"]})%>